*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #202022;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 0.4px solid #ffae1b;
}

.headerLogo{
    max-width: 100px;
    margin-top: 20px;
    margin-left: 50px;
}

h1{ 
    font-family: Arial, Helvetica, sans-serif;
    color: #ffae1b;
    font-size: 2rem;

}

.mainContainer{

    display:flex;
    flex-direction: row;
    justify-content: center;


}

.container{
    
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    background-color: #ffae1b;
    padding: 20px;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 0;

}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

h2{
    color: #202022;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;

}

.mainVectorCow{
    height: 250px;
    margin-top: 60px;
    margin-left: 30px;
}

.rodape{
    margin-top: 100px;
    border-top: 0.4px solid #ffae1b;
    text-align: center;
}

.footerSocialMidia{
    height: 60px;
    padding: auto;
}

h3{
    color: #ffae1b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: rem;
    margin-top: 10px;
}

h4{
    color: #ffae1b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}